body {
  margin: auto;
  background-color: #0096C7;
  color: #CAF0F8;
  font-family: Verdana, serif;
  font-size: 1rem;
}

#description {
  text-align: center;
  font-style: italic;
  width: 65vw;
  margin: auto;
  padding: 0 0 2rem 0;
}

#title{
  text-align: center;
  padding: 1.5rem 0 0.5rem 0;
}

h3 {
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
}
form {
  width: 65vw;
  margin: auto;
  padding: 2rem 2rem 2rem 2rem;
  background-color: #023E8AAA;
  color: #CAF0F8;
  border-radius: 1rem;
}

.user-info {
  font-weight: bold;
}
.user-info label {
  display: block;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.25rem 0 0.25rem 0;
}

.user-info input {
  display: block;
  width: 62.5vw;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 0;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number] {
  color: #023E8A;
  font-weight: bold;
}

input[type=checkbox],
input[type=radio]
{
  background-color: white;
  padding: 0.75rem;
  border: 0;
}


input[type=checkbox]:checked,
input[type=radio]{
  accent-color: #03045E;
}

textarea {
  width: 60vw;
  height: 10vh;
  color: #023E8A;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;
}

footer {
  padding: 2rem;
  font-style: italic;
  text-align: center;
}
ol {
  margin: 0.5rem;
  padding: 1rem;
}
ol label {
  display: block;
  padding: 0.65rem;
}

#dropdown{
  margin: 0.5rem;
  width: 60vw;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  font-family: Verdana, serif;
}

#submit
{
  width: 50%;
  display: block;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  background-color: #00B4D8;
  color: #CAF0F8;
  margin: auto;
  font-size: 0.95rem;
  font-weight: bold;
}

#submit:active
{
  background-color: #CAF0F8;
  color: #00B4D8;
}

a {
  color: #03045E;
  text-decoration: none;
}
